body{
    margin: 0px;
    background-color: #0d1b2a;
    user-select: none;
}

.pages-table{
    display: flex;
    justify-content: space-around;
}

.container{
    margin-top: 1.5vw;
    height: 97vh;
    width: 30vw;
    background-color: #1b263b;
    border-radius: 15px;
}

.title-text-element{
    margin: 3px;
    padding: 2px;
    text-align: center;
    align-items: center;
}

.content{
    transition: 1s;
    width: 22px;
    height: 22px;
}

.content-img{
    padding-top: 5px;
    width: 22px;
    height: 13px;
    color: #e0e1dd;
}

.text-element:hover{
    color: #dad7cd;
    background-color: #0d1b2a;
}

.rotate:hover{
    transform: rotate(360deg);
}

.rotate-45{
    transform: rotate(45deg);
}

.main-table-title{
    color:#e0e1dd;
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.title{
    border-bottom: 2px;
    border-color: #e0e1dd;
}

.line{
    width: 100%;
    background-color: #dad7cd;
    height: 1px;
}

.element{
    margin: 2px;
    font-size: 1em;
    transition: 1s;
    display:flex;
    color:#dad7cd;
    padding-left: 5px;
}

.element:hover {
    background-color: hsl(212, 29%, 36%);
    border-radius: 10px;
}

.element-text{
    padding-top: 2px;
    color:#dad7cd;
}

.icon-contain-element{
    padding-left: 5px;
    padding-right: 5px;
}

.select-table{
    flex-direction: column;
}

.select-table:hover {
    background-color: none;
}

.title-table{
    display: flex;
}