<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <script src="./JS/main-page.js"></script>
</head>

<body>
    <div class="pages-table">
        <div class="container" id="all-tables">
            <div class="title">
                <div class="main-table-title">
                    <div class="title-text-element">
                        <div class="content rotate">🗘</div>
                    </div>
                    <div class="title-text-element">
                        <div class="content">🞢</div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
            <div class="element">
                <div class="table"></div>
                <div class="element-text">Table name</div>
            </div>
        </div>
        <div class="container" id="select-table">
            <div class="title">
                <div class="main-table-title">
                    <div class="title-text-element">
                        <img src="/view/img/wrench-svgrepo-com.svg" class="content-img"></img>
                    </div>
                    <div class="title-text-element">
                        <div class="content rotate-45">🞢</div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="select-table">
                <div class="title-table">
                    <div class="table"></div>
                    <div class="element-text">Table name</div>
                </div>
                <div class="feiled">
                    <div class="element">
                        <div class="icon-contain-element"></div>
                        <div class="element-text">feild 1</div>
                    </div>
                    <div class="element">
                        <div class="icon-contain-element"></div>
                        <div class="element-text">feild 2</div>
                    </div>
                    <div class="element">
                        <div class="icon-contain-element"></div>
                        <div class="element-text">feild 3</div>
                    </div>
                    <div class="element">
                        <div class="icon-contain-element"></div>
                        <div class="element-text">feild 4</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="select-column">
            <div class="title">
                <div class="main-table-title">
                    <div class="title-text-element">
                        <img src="/view/img/wrench-svgrepo-com.svg" class="content-img"></img>
                    </div>
                    <div class="title-text-element">
                        <div class="content rotate-45">🞢</div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="element">
                <div class="element-text">feild 1</div>
            </div>
            <div class="element">
                <div class="element-text">feild 2</div>
            </div>
            <div class="element">
                <div class="element-text">feild 3</div>
            </div>
        </div>
    </div>
</body>

</html>